@import url(https://fonts.googleapis.com/css?family=Inconsolata);
@import url(https://fonts.googleapis.com/css?family=Josefin+Slab);

/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}



/**
 * Basic styling
 */
body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $text-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
     -moz-font-feature-settings: "kern" 1;
       -o-font-feature-settings: "kern" 1;
          font-feature-settings: "kern" 1;
  font-kerning: normal;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}



/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: $base-font-weight;
  font-family: 'Josefin Slab';
}



/**
 * Links
 */
a {
  color: $brand-color;
  text-decoration: none;

  &:visited {
    color: darken($brand-color, 15%);
  }

  &:hover {
    color: $text-color;
    text-decoration: underline $green-color-dark;
  }

  .social-media-list &:hover {
    text-decoration: none;

    .username {
      text-decoration: underline;
    }
  }
}


/**
 * Blockquotes
 */
blockquote {
  color: $grey-color;
  border-left: 4px solid $grey-color-light;
  padding-left: $spacing-unit / 2;
  @include relative-font-size(1.125);
  letter-spacing: -1px;
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }
}



/**
 * Code formatting
 */
pre,
code {
  @include relative-font-size(0.9375);
  border: 1px solid $grey-color-light;
  border-radius: 3px;
  background-color: #eef;
  font-family: Inconsolata;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}



/**
 * Wrapper
 */
.wrapper {
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
  max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  @extend %clearfix;

  @include media-query($on-laptop) {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
    max-width:         calc(#{$content-width} - (#{$spacing-unit}));
    padding-right: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
  }
}



/**
 * Clearfix
 */
%clearfix:after {
  content: "";
  display: table;
  clear: both;
}



/**
 * Icons
 */
.icon > svg {
  display: inline-block;
  vertical-align: middle;

  path {
    fill: $grey-color;
  }
}

.social-media-list {
  .icon {
    padding-right: 5px;
  }

  li + li {
    padding-top: 5px;
  }
}

/**
 * Forms
 */
 
label {
  display: block;
  margin-bottom: 5px; }

input[type=text], input[type=email], input[type=phone], input[type=password], input[type=number], input[type=search], textarea {
  background: #e6e6e6;
  padding: 5px;
  outline: none;
  border: none;
  height: 44px;
  width: 300px;
  margin-bottom: .5rem; }
  input[type=text]:focus, input[type=email]:focus, input[type=phone]:focus, input[type=password]:focus, input[type=number]:focus, input[type=search]:focus, textarea:focus {
    border: 1px solid seagreen; }
  input[type=text].full-width, input[type=email].full-width, input[type=phone].full-width, input[type=password].full-width, input[type=number].full-width, input[type=search].full-width, textarea.full-width {
    width: 100%; }

textarea {
  height: 132px; }

form {
  margin-bottom: 40px; }
  form .field {
    margin-bottom: 20px; }
  form .note {
    margin-top: 5px;
    color: #aaa; }
  form .req {
    font-style: italic; }
  form .error .reason {
    margin-top: 5px;
    color: #FF4136; }
  form .error input[type=text], form .error input[type=email], form .error input[type=phone], form .error input[type=password], form .error input[type=number], form .error input[type=search], form .error textarea {
    border-color: #FF4136; }

/***************
BUTTON DEFAULTS
***************/
.button, .button-secondary, .button-tertiary, .button__outline {
  background-color: seagreen;
  display: inline-block;
  position: relative;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  text-decoration: none;
  color: #fff;
  font-size: 1em;
  line-height: 1.2em;
  font-weight: normal;
  padding: .5em 1.5em;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: .5em;
  transition: background-color 0.14s ease-in-out; }
  .button:hover, .button-secondary:hover, .button-tertiary:hover, .button__outline:hover, .button:focus, .button-secondary:focus, .button-tertiary:focus, .button__outline:focus {
    color: #fff;
    text-decoration: none;
    background-color: #21653f; }
  .button:active, .button-secondary:active, .button-tertiary:active, .button__outline:active {
    top: 1px; }

.button-secondary {
  background-color: #233E5B; }
  .button-secondary:hover {
    background-color: #152536; }

.button-tertiary {
  background-color: #aaa; }
  .button-tertiary:hover {
    background-color: #919191; }

.button__outline {
  background-color: transparent;
  border: 3px solid seagreen;
  color: seagreen; }
  .button__outline:hover {
    background-color: seagreen;
    color: #fff; }
